@page "/tenant-management/tenants"
@attribute [Authorize(TenantManagementPermissions.Tenants.Default)]
@using Tchivs.Abp.FeatureManagement.Bootstrap.Blazor.Components
@using Volo.Abp.TenantManagement
@using Volo.Abp.TenantManagement.Localization
@inject AbpBlazorMessageLocalizerHelper<AbpTenantManagementResource> LH
@inherits BootstrapBlazorComponentBase
<TableEx TItem=TenantDto
         TAppService=ITenantAppService
         TKey=Guid TGetListInput=GetTenantsInput
         TCreateInput=TenantCreateDto
         TUpdateInput=TenantUpdateDto
         AutoGenerateColumns="false"
         CreatePolicyName="@TenantManagementPermissions.Tenants.Create"
         UpdatePolicyName="@TenantManagementPermissions.Tenants.Update"
         DeletePolicyName="@TenantManagementPermissions.Tenants.Delete">
    <TableColumns>
        <TableColumn @bind-Field="@context.Name" Text="@L["DisplayName:TenantName"]" />
    </TableColumns>
    <RowButtonTemplate>
        @if (this.HasManageFeaturesPermission)
        {
            <Button Size="Size.ExtraSmall" Color="Color.Secondary" OnClick="@ClickManageFeaturesCallback(context)" Icon="fa fa-shield" Text="@L["Permission:ManageFeatures"]" />
        }
    </RowButtonTemplate>
    <EditTemplate Context="ctx">
        <AbpEditModal TItem=TenantDto
                      TKey=Guid
                      TCreateInput=TenantCreateDto
                      TUpdateInput=TenantUpdateDto Model=ctx>
            <CreateTemplate>
                <div class="col-12">
                    <BootstrapInput @bind-Value="@context.Name"
                                    DisplayText=@L["DisplayName:TenantName"] maxlength="50" />
                </div>

                <div class="col-12">
                    <BootstrapInput @bind-Value="@context.AdminEmailAddress"
                                    type="mail"
                                    DisplayText="@L["DisplayName:AdminEmailAddress"]" />
                </div>

                <div class="col-12">
                    <BootstrapInput @bind-Value="@context.AdminPassword"
                                    type="password"
                                    DisplayText="@L["DisplayName:AdminPassword"]" />
                </div>
            </CreateTemplate>
            <UpdateTemplate>
                <div class="col-12">
                    <BootstrapInput @bind-Value="@context.Name" placeholder="租户名称"
                                    DisplayText=@L["DisplayName:TenantName"] maxlength="50" />
                </div>
            </UpdateTemplate>
        </AbpEditModal>

    </EditTemplate>
</TableEx>
<style>

    .tm {
        --bs-row-label-width: 150px;
    }

</style>
@code {
    protected const string FeatureProviderName = "T";

    protected bool HasManageFeaturesPermission;
    protected string ManageFeaturesPolicyName;
    public TenantManagement()
    {
        ObjectMapperContext = typeof(TchivsAbpTenantManagementBootstrapBlazorModule);
        LocalizationResource = typeof(AbpTenantManagementResource);//使用abp自带的本地化资源
        ManageFeaturesPolicyName = TenantManagementPermissions.Tenants.ManageFeatures;
    }
    protected override async Task OnInitializedAsync()
    {

        HasManageFeaturesPermission = await AuthorizationService.IsGrantedAsync(ManageFeaturesPolicyName);

    }
    private Task ManageFeatures(TenantDto context)
    {
        var modal = BootstrapDynamicComponent.CreateComponent<FeatureManagementModal>(new Dictionary<string, object>() { { "ProviderName", "T" }, { "ProviderKey", context.Id.ToString() } });
        //await FeatureManagementModal.OpenAsync(FeatureProviderName, tenant.Id.ToString());
      return  this.DialogService.Show(new DialogOption()
            {
                Component = modal,
            });
         
    }
    EventCallback<MouseEventArgs> ClickManageFeaturesCallback(TenantDto item) =>
        EventCallback.Factory.Create<MouseEventArgs>(this, () => ManageFeatures(item));
}
