@page "/"
@namespace MyCompanyName.MyProjectName.Blazor.Server.Pages
@using System.Globalization
@using Microsoft.Extensions.Options
@using Tc.Abp.AspNetCore.Components.Server
@using Tc.Abp.UI
@using Tc.Abp.UI.Components
@using Tc.Abp.UI.Radzen.Server
@using Volo.Abp.Localization
@using Microsoft.Extensions.DependencyInjection
@{
    Layout = null;
    var rtl = CultureHelper.IsRtl ? "rtl" : string.Empty;
    var options = this.HttpContext.RequestServices.GetRequiredService<IOptions<AbpRouterOptions>>().Value;
    var bundleOptions = this.HttpContext.RequestServices.GetRequiredService<IOptions<BundleOptions>>().Value;
}

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name" dir="@rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyCompanyName.MyProjectName.Blazor.Server</title>
    <base href="~/" />

    <abp-style-bundle name="@bundleOptions.Style" />
</head>
<body class="abp-application-layout bg-light @rtl">

    <component type="@options.AppType" render-mode="Server" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <abp-script-bundle name="@bundleOptions.Script" />
</body>
</html>
