@using Volo.Abp.Identity
@using Volo.Abp.Identity.Localization
@using System.Diagnostics.CodeAnalysis
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<IdentityResource> LH
@inherits BootstrapBlazorComponentBase
<AbpEditModal TItem=IdentityUserDto
              Model=@Model
              TKey=Guid
              TCreateInput=IdentityUserCreateDto
              TUpdateInput=IdentityUserUpdateDto>
    <CreateTemplate Context="ctx">
        <div class="col-12">
            <BootstrapInput @bind-Value="@ctx.UserName" placeholder="请输入用户名" DisplayText=@LH["UserName"] maxlength="50"> </BootstrapInput>
        </div>
        <div class="col-12">
            <BootstrapInput type="password" @bind-Value="@ctx.Password" DisplayText=@LH["Password"] maxlength="50"> </BootstrapInput>
        </div>
        <div class="col-12">
            <BootstrapInput type="email" @bind-Value="@ctx.Email" maxlength="50" DisplayText=@LH["EmailAddress"]> </BootstrapInput>
        </div>
        <div class="col-12">
            <BootstrapInput type="number" @bind-Value="@ctx.PhoneNumber" maxlength="11" DisplayText=@LH["PhoneNumber"]> </BootstrapInput>
        </div>
        <div class="col-12">
            <MultiSelect DisplayText=@LH["Roles"]
                         Items="@Roles" @bind-Value="@ctx.RoleNames">
            </MultiSelect>
        </div>
        <div class="col-12">
            <Checkbox @bind-Value="@ctx.LockoutEnabled"
                      ShowAfterLabel="true"
                      ShowLabel="false"
                      DisplayText=@LH["DisplayName:LockoutEnabled"]>
            </Checkbox>
        </div>
    </CreateTemplate>
    <UpdateTemplate Context="ctx">
        <div class="col-12">
            <BootstrapInput @bind-Value="@ctx.UserName" placeholder="请输入用户名" DisplayText=@LH["UserName"] maxlength="50"> </BootstrapInput>
        </div>
        <div class="col-12">
            <BootstrapInput type="email" @bind-Value="@ctx.Email" maxlength="50" DisplayText=@LH["EmailAddress"]> </BootstrapInput>
        </div>
        <div class="col-12">
            <BootstrapInput type="number" @bind-Value="@ctx.PhoneNumber" maxlength="11" DisplayText=@LH["PhoneNumber"]> </BootstrapInput>
        </div>
        <div class="col-12">
            <MultiSelect DisplayText=@LH["Roles"]
                         Items="@Roles" @bind-Value="@ctx.RoleNames">
            </MultiSelect>
        </div>
        <div class="col-12">
            <Checkbox @bind-Value="@ctx.LockoutEnabled"
                      ShowAfterLabel="true"
                      ShowLabel="false"
                      DisplayText=@LH["DisplayName:LockoutEnabled"]>
            </Checkbox>
        </div>
    </UpdateTemplate>
</AbpEditModal>

@code {

    [Parameter, NotNull]
    public AddOrUpdateContext<Guid, IdentityUserDto, IdentityUserCreateDto, IdentityUserUpdateDto> Model { get; set; }

    [Inject, NotNull]
    private IIdentityUserAppService? AppService { get; set; }

    List<SelectedItem> Roles { get; set; } = new List<SelectedItem>();

    protected override async Task OnInitializedAsync()
    {
        var result = await this.AppService.GetAssignableRolesAsync();
        Roles = result.Items.Select(x => new SelectedItem(x.Name, x.Name)).ToList();
        if (Model.ItemChangedType == ItemChangedType.Update)
        {
            var roles = await AppService.GetRolesAsync(this.Model.GetId());
            if (Model.UpdateInput != null)
            {
                Model.UpdateInput.RoleNames = roles.Items.Select(x => x.Name).ToArray();
            }
        }

    }



}